.newsletterInput:invalid:focus {
  color: var(--red) !important;
}

*:focus {
  outline: none
}

a:hover,
a .text:hover {
  color: var(--baby-blue-normal) !important;
}

a.btn:hover {
  color: white !important;
}

.box-shadow {
  box-shadow: 4px 4px 8px var(--baby-blue-darkest-bg) !important;
}