/**************MY STYLING*************/
.baby-blue-normal-color {
  color: var(--baby-blue-normal) !important;
}

.baby-blue-normal-border-1 {
  border: 1px solid var(--baby-blue-normal) !important;
}

.baby-blue-darker-color {
  color: var(--baby-blue-darker) !important;
}

.baby-blue-darkest-color {
  color: var(--baby-blue-darkest) !important;
}

.baby-blue-normal-bg {
  background: var(--baby-blue-normal) !important;
}

.baby-blue-darker-bg {
  background: var(--baby-blue-darker) !important;
}

.baby-blue-darkest-bg {
  background: var(--baby-blue-darkest) !important;
}

.baby-pink-normal-color {
  color: var(--baby-pink-normal) !important;
}

.baby-pink-darker-color {
  color: var(--baby-pink-darker) !important;
}

.baby-pink-darkest-color {
  color: var(--baby-pink-darkest) !important;
}

.baby-pink-normal-bg {
  background: var(--baby-pink-normal) !important;
}

.baby-pink-darker-bg {
  background: var(--baby-pink-darker) !important;
}

.baby-pink-darkest-bg {
  background: var(--baby-pink-darkest) !important;
}

.hide {
  display: none;
}

.font-large {
  font-size: large;
}

.font-medium {
  font-size: medium;
}

.font-small {
  font-size: small;
}

.font-x-small {
  font-size: x-small;
}

.font-smaller {
  font-size: smaller;
}

.font-larger {
  font-size: larger;
}

.font-x-large {
  font-size: x-large;
}

.border-dark-1 {
  border: 1px solid #4d4d4d !important;
}

.border-dark-2 {
  border: 2px solid #4d4d4d !important;
}

.border-dark-3 {
  border: 3px solid #4d4d4d !important;
}

.border-dark-4 {
  border: 4px solid #4d4d4d !important;
}

.border-darkish-1 {
  border: 1px solid #808080 !important;
}

.border-grayish-1 {
  border: 1px solid #cccccc !important;
}

.border-darkish-2 {
  border: 2px solid #808080 !important;
}

.border-darkish-3 {
  border: 3px solid #808080 !important;
}

.border-darkish-4 {
  border: 4px solid #808080 !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.text-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-gray-light {
  color: #ccc !important;
}

.text-gray {
  color: #b3b3b3 !important;
}

.text-gray-dark {
  color: #808080 !important;
}